<!doctype html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body ng-app="bbhmmApp">

  
  <h2>Don't act like you forgot</h2>

  <section bbhmm-form>
    <form>
      <ul>
        <li>
          <label for="bitch">Bitch</label>
          <input
            type="text"
            placeholder="Drake (venmo username)"
            ng-model="bitch"
            ng-keyup="constructVenmo(bitch, 'recipients')" />
        </li>

        <li>
          <label for="bitch">Money</label>
          <input
            type="text"
            placeholder="Drake"
            ng-model="money"
            ng-keyup="constructVenmo(money, 'amount')" />
        </li>

        <li>
          <label for="bitch">Note</label>
          <input
            type="text"
            placeholder="Drake"
            ng-model="note"
            ng-keyup="constructVenmo(note, 'note')" />
        </li>

      </ul>
    </form>

    <span>{{venmoUrl}}</span>
  </section>

  <% include ../partials/scripts %>

</body>
</html>
