<!doctype html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body ng-app="bbhmmApp">

  <header class="bbhmm__header bbhmm__header--details" bbhmm-header>
    <figure class="riri"></figure>
    <figure class="bitch"></figure>
    <h1>Don’t act like you forgot!</h1>
    <h2>You owe John 10 dollars bitch</h2>
  </header>

  <% include ../partials/scripts %>

</body>
</html>
