<!doctype html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body ng-app="bbhmmApp">
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1757297634497578";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <iframe class="soundcloud" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/201442876&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

  <header class="bbhmm__header">

    <figure class="bbhmm__riri"></figure>
    <figure class="bbhmm__bitch"></figure>

    <aside class="bbhmm__share">
      <div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
      <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </aside>

    <a bbhmm-audio class="bbhmm__mute" ng-click="toggleAudio()">Sound {{audioToggle}}</a>

    <h3 class="bbhmm__subtitle">Bitch Better Have</h3>
    <figure class="bbhmm__money"></figure>

    <p class="bbhmm__copy">
      Sick of those dumb bitches calling your bluff?<br/> Charge them on Venmo right fucking now!
    </p>

    <!-- <hgroup class="bbhmm__header__titles">
      <h1>Bitch better have my money</h1>
    </hgroup> -->
  </header>

  <section class="bbhmm__body">

    <h2 class="bbhmm__body__title">Let that bitch know</h2>

    <section bbhmm-form>
      <form>
        <ul class="bbhmm__list">
          <!-- <li class="bbhmm__list__item">
            <label for="bitch">Your Name</label>
            <input
              type="text"
              placeholder="Rihanna"
              ng-model="name" />
          </li> -->
          <li class="bbhmm__list__item">
            <label for="bitch">The Bitch</label>
            <input
              type="text"
              placeholder="Kendall (venmo username)"
              ng-model="bitch"
              ng-keyup="constructVenmo(bitch, 'recipients')" />
          </li>

          <li class="bbhmm__list__item">
            <label for="bitch">The Money</label>
            <input
              type="number"
              placeholder="100"
              ng-model="money"
              ng-keyup="constructVenmo(money, 'amount')" />
          </li>

          <li class="bbhmm__list__item">
            <label for="bitch">The Message</label>
            <input
              type="text"
              placeholder="Don’t act like you forgot"
              ng-model="note"
              ng-keyup="constructVenmo(note, 'note')" />
          </li>

        </ul>
      </form>
      <a
        href="{{venmoUrl}}"
        target="_blank"
        title="Charge that bitch on Venmo"
        class="bbhmm__venmo"
        ng-class="{'bbhmm__venmo--enabled': showVenmo}">
        <span>Charge on Venmo</span>
        <span>DO IT!</span>
      </a>
    </section>
  </section>

  <% include ../partials/scripts %>

</body>
</html>
