<title>Bitch better have my money - charge them on Venmo</title>
<meta content="Charge those bitches on Venmo right away" name="description" />
<meta content="Bitch better have my money - charge them on Venmo" property="og:title" />
<meta content="Charge those bitches on Venmo right away" property="og:description" />
<meta content="http://bitch.betterhavemy.money/assets/images/share.jpg" property="og:image" />
<meta content="Bitch better have my money" property="og:site_name" />
<meta content="website" property="og:type" />
<meta content="http://bitch.betterhavemy.money" property="og:url" />

<meta name="viewport" content="width=width, initial-scale=1.0" />
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,200,100' rel='stylesheet' type='text/css'>
<link href="/assets/stylesheets/styles.css" rel="stylesheet" type="text/css">
