<title>BITCH BETTER HAVE MY MONEY! Charge them on Venmo right fucking now!</title>
<meta content="Be like RiRi and get your money right now!" name="description" />
<meta content="BITCH BETTER HAVE MY MONEY! Charge them on Venmo right fucking now!" property="og:title" />
<meta content="Be like RiRi and get your money right now!" property="og:description" />
<meta content="http://bitch.betterhavemy.money/assets/images/share.jpg" property="og:image" />
<meta content="BITCH BETTER HAVE MY MONEY" property="og:site_name" />
<meta content="website" property="og:type" />
<meta content="http://bitch.betterhavemy.money" property="og:url" />
<meta property="fb:app_id" content="1757297634497578" />

<link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">

<link href='/assets/images/favicon-152.png' rel='apple-touch-icon-precomposed'>
<meta content='#FFFFFF' name='msapplication-TileColor'>
<meta content='/assets/images/favicon-144.png' name='msapplication-TileImage'>
<link href='/assets/images/favicon-152.png' rel='apple-touch-icon-precomposed' sizes='152x152'>
<link href='/assets/images/favicon-144.png' rel='apple-touch-icon-precomposed' sizes='144x144'>
<link href='/assets/images/favicon-120.png' rel='apple-touch-icon-precomposed' sizes='120x120'>
<link href='/assets/images/favicon-114.png' rel='apple-touch-icon-precomposed' sizes='114x114'>
<link href='/assets/images/favicon-72.png' rel='apple-touch-icon-precomposed' sizes='72x72'>
<link href='/assets/images/favicon-57.png' rel='apple-touch-icon-precomposed'>

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,700' rel='stylesheet' type='text/css'>
<link href="/assets/stylesheets/styles.css" rel="stylesheet" type="text/css">
