<title>BITCH BETTER HAVE MY MONEY! Charge them on Venmo right fucking now!</title>
<meta content="Be like RiRi and get your money right now!" name="description" />
<meta content="BITCH BETTER HAVE MY MONEY! Charge them on Venmo right fucking now!" property="og:title" />
<meta content="Be like RiRi and get your money right now!" property="og:description" />
<meta content="http://bitch.betterhavemy.money/assets/images/share.jpg" property="og:image" />
<meta content="BITCH BETTER HAVE MY MONEY" property="og:site_name" />
<meta content="website" property="og:type" />
<meta content="http://bitch.betterhavemy.money" property="og:url" />
<meta property="fb:app_id" content="1757297634497578" />

<meta name="viewport" content="width=width, initial-scale=1.0" />
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,200,100' rel='stylesheet' type='text/css'>
<link href="/assets/stylesheets/styles.css" rel="stylesheet" type="text/css">
