/* Variables */
$clr__input-placeholder: rgba(0,0,0,.4);

* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  color: #000;
  background: #fff;
  font-family: 'Crimson Text', serif;
}

::-webkit-input-placeholder { color: $clr__input-placeholder; }
::-moz-placeholder { color: $clr__input-placeholder; }
:-ms-input-placeholder { color: $clr__input-placeholder; }

figure {
  padding: 0;
  margin: 0;
}

.bbhmm__header {
  position: relative;
  width: 100%;
  padding: 55px 0 1px;
  background: #f3183b;
  text-align: center;
  overflow: hidden;
}

.bbhmm__money {
  position: relative;
  max-width: 450px;
  width: 90%;
  height: 207px;
  margin: -40px auto 50px;
  background: url(../images/mymoney.png) no-repeat center center;
  background-size: 100%;
}

.bbhmm__riri {
  position: absolute;
  width: 330px;
  height: 450px;
  bottom: -10%;
  left: 5%;
  background: url(../images/riri.png) no-repeat center center;
  background-size: 100%;
  z-index: 1;
}

.bbhmm__bitch {
  position: absolute;
  width: 200px;
  height: 500px;
  top: -40px;
  right: 14%;
  background: url(../images/bitch.png) no-repeat center center;
  background-size: auto 100%;
  z-index: 1;
  animation: swing 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate;
  transform-origin: 87% 20px;
}

@keyframes swing {
  0% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

.bbhmm__copy {
  font-size: 22px;
  font-weight: 300;
  line-height: 34px;
  margin-bottom: 60px;
  position: relative;
  z-index: 10;
}

.bbhmm__subtitle {
  font-size: 40px;
  font-weight: 300;
}

h1 {
  position: relative;
  display: block;
  margin: 0 auto;
  font-weight: 500;
  font-size: 96px;
  max-width: 640px;
  width: 90%;
  z-index: 2;
  line-height: 90px;
}

.bbhmm__share {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.twitter-share-button {
  vertical-align: top;
  margin-left: 15px;
}

.bbhmm__body {
  position: relative;
  margin: 0 auto;
  padding: 30px 0 70px;
  width: 92%;
  max-width: 570px;
  text-align: center;
  z-index: 2;
}

.bbhmm__body__title {
  margin-bottom: 70px;
  font-size: 50px;
  font-weight: 500;
}


.bbhmm__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-width: 400px;
}

.bbhmm__list__item,
.bbhmm__list__item input,
.bbhmm__list__item label {
  display: inline-block;
  width: 100%;
}

.bbhmm__list__item label {
  text-align: left;
  padding-left: 10px;
  color: #2c2c2c;
  font-weight: 700;
  text-transform: uppercase;
}

.bbhmm__list__item input {
  height: 70px;
  padding: 1px 16px 0;
  margin: 10px 0 40px;
  color: #000;
  border: 2px solid #000;
  background: transparent;
  font-size: 22px;
  font-weight: 100;
  font-family: helvetica;
  outline: 0;
  transition: all 0.2s cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

.bbhmm__list__item input:focus {

}

.bbhmm__venmo {
  position: relative;
  display: inline-block;
  height: 70px;
  padding: 0 10px;
  line-height: 72px;
  margin-top: 15px;
  color: rgba(255,255,255,.4);
  text-decoration: none;
  background: #000;
  cursor: default;
  pointer-events: none;
  overflow: hidden;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: helvetica, arial, sans-serif;
  transform: translate3d(0,0,0);
  outline: 0;
}

.bbhmm__venmo span {
  position: relative;
  display: inline-block;
  width: 100%;
  z-index: 2;
  transition: all 0s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0s;
}

.bbhmm__venmo:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 350px;
  background: #f3183b;
  border-radius: 100%;
  transform: translate3d(-50%,-50%,0) scale(0);
  transition: transform 0.5s cubic-bezier(0.860, 0.160, 0.655, 0.530), background 0.12s cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

.bbhmm__venmo--enabled {
  pointer-events: all;
  cursor: pointer;
  color: #fff;
}

.bbhmm__venmo--enabled:before {
  transform: translate3d(-50%,-50%,0) scale(1);
}

.bbhmm__venmo--enabled:hover:before {
  background: darken(#f3183b, 14%);
}

.bbhmm__venmo--enabled:hover span {
  transform: translateY(-100%);
  transition-delay: 2.5s;
}

.bbhmm__venmo--enabled:focus {
  box-shadow: 0 0 0 1px darken(#0094d1, 10%);
}


@media screen and (max-width: 560px) {
    h1, h2 {
      font-size: 50px;
      line-height: 48px;
    }

    h2 {
      font-size: 30px;
      font-weight: 200;
    }

    p {
      margin: 0 auto 50px;
      width: 90%;
    }
    p br {
      display: none;
    }

    .bbhmm__header {
      padding-bottom: 120px;
    }

    .bbhmm__header__titles {
      margin-top: 60px;
    }

    .bbhmm__scroll {
      bottom: 60px;
    }

    .bbhmm__money {
      margin-bottom: 20px;
    }

    .bbhmm__riri {
      width: 200px;
      height: 260px;
      bottom: -10%;
      left: -15%;
    }

    .bbhmm__bitch {
      width: 200px;
      height: 330px;
      top: -40px;
      right: -10%;
      transform-origin: 77% 14px;
    }
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  p,
  .bbhmm__list__item input {
    font-weight: 300;
  }
}
