/* Variables */
$clr__input-placeholder: rgba(255,255,255,.8);

* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  color: #fff;
  background: #00d19d;
  font-family: 'Raleway', cursive;
}

::-webkit-input-placeholder { color: $clr__input-placeholder; }
::-moz-placeholder { color: $clr__input-placeholder; }
:-ms-input-placeholder { color: $clr__input-placeholder; }

figure {
  padding: 0;
  margin: 0;
}

.bbhmm__scroll {
  position: absolute;
  bottom: 60px;
  left: 50%;
  margin-left: -18px;
  width: 36px;
  height: 36px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  z-index: 10;
}

.bbhmm__riri {
  position: absolute;
  width: 350px;
  height: 500px;
  bottom: -10%;
  left: 5%;
  background: url(../images/riri.png) no-repeat center center;
  background-size: 100%;
  z-index: 1;
}

.bbhmm__bitch {
  position: absolute;
  width: 200px;
  height: 500px;
  top: -40px;
  right: 20%;
  background: url(../images/bitch.png) no-repeat center center;
  background-size: auto 100%;
  z-index: 1;
  animation: swing 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate;
  transform-origin: 87% 20px;
}

@keyframes swing {
  0% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

h1,
h2 {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: left;
  font-weight: 500;
  font-size: 96px;
  max-width: 640px;
  width: 90%;
  z-index: 2;
  line-height: 90px;
}

h2 {
  margin-top: -6px;
  font-size: 40px;
  font-weight: 100;
}

p {
  font-size: 22px;
  font-weight: 100;
  line-height: 34px;
  margin-bottom: 60px;
}

.bbhmm__header {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4c5452;
  overflow: hidden;
}

.bbhmm__share {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.twitter-share-button {
  vertical-align: top;
  margin-left: 15px;
}

.bbhmm__header__titles {
  position: relative;
  z-index: 3;
}

.bbhmm__body {
  position: relative;
  margin: 0 auto;
  padding: 50px 0 70px;
  width: 92%;
  color: #fff;
  text-align: center;
  z-index: 2;
}

.bbhmm__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-width: 460px;
}

.bbhmm__list__item,
.bbhmm__list__item input,
.bbhmm__list__item label {
  display: inline-block;
  width: 100%;
}

.bbhmm__list__item label {
  text-align: left;

  padding-left: 10px;
  color: #2c2c2c;
}

.bbhmm__list__item input {
  height: 56px;
  padding: 1px 16px 0;
  margin: 10px 0 30px;
  color: #fff;
  border: 1px solid transparent;
  //border-bottom: 1px solid rgba(0,0,0,.5);
  border-radius: 6px;
  background: rgba(0,0,0,.2);
  font-size: 24px;
  font-weight: 100;
  font-family: 'Raleway', cursive;
  outline: 0;
  transition: all 0.2s cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

.bbhmm__list__item input:focus {
  background: rgba(0,0,0,.15);
  border-color: rgba(0,0,0,.2);
}

.bbhmm__venmo {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 55px;
  line-height: 55px;
  margin-top: 15px;
  color: $clr__input-placeholder;
  text-decoration: none;
  border-radius: 6px;
  background: #00a680;
  cursor: default;
  pointer-events: none;
  overflow: hidden;
  transform: translate3d(0,0,0);
  outline: 0;
}

.bbhmm__venmo span {
  position: relative;
  display: inline-block;
  width: 100%;
  z-index: 2;
  transition: all 0s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0s;
}

.bbhmm__venmo:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  background: #0094d1;
  border-radius: 100%;
  transform: translate3d(-50%,-50%,0) scale(0);
  transition: transform 0.5s cubic-bezier(0.860, 0.160, 0.655, 0.530), background 0.12s cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

.bbhmm__venmo--enabled {
  pointer-events: all;
  cursor: pointer;
  color: rgba(255,255,255,1);
}

.bbhmm__venmo--enabled:before {
  transform: translate3d(-50%,-50%,0) scale(1);
}

.bbhmm__venmo--enabled:hover:before {
  background: lighten(#0094d1, 4%);
}

.bbhmm__venmo--enabled:hover span {
  transform: translateY(-100%);
  transition-delay: 2.5s;
}

.bbhmm__venmo--enabled:focus {
  box-shadow: 0 0 0 1px darken(#0094d1, 10%);
}


@media screen and (max-width: 560px) {
    h1, h2 {
      font-size: 50px;
      line-height: 48px;
    }

    h2 {
      font-size: 30px;
      font-weight: 200;
    }

    p {
      margin: 0 auto 50px;
      width: 90%;
    }
    p br {
      display: none;
    }

    .bbhmm__header {
      height: 90vh;
      display: block;
    }

    .bbhmm__header__titles {
      margin-top: 60px;
    }

    .bbhmm__scroll {
      bottom: 60px;
    }

    .bbhmm__riri {
      width: 200px;
      height: 260px;
      bottom: -10%;
      left: -15%;
    }

    .bbhmm__bitch {
      width: 200px;
      height: 330px;
      top: -40px;
      right: -10%;
      transform-origin: 77% 14px;
    }
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  p,
  .bbhmm__list__item input {
    font-weight: 300;
  }
}
