/* Variables */
$clr__input-placeholder: #666;

* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  color: #fff;
  background: #395561;
  font-family: 'Raleway', cursive;
}

::-webkit-input-placeholder { color: $clr__input-placeholder; }
::-moz-placeholder { color: $clr__input-placeholder; }
:-ms-input-placeholder { color: $clr__input-placeholder; }

figure {
  padding: 0;
  margin: 0;
}

.bbhmm__background {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #97d2ea;
  //background: linear-gradient(to right, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.35) 50%,rgba(0,0,0,0.8) 100%);
  overflow: hidden;
}

.bbhmm__scroll {
  position: absolute;
  bottom: 60px;
  left: 50%;
  margin-left: -18px;
  width: 36px;
  height: 36px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}

.bbhmm__riri {
  position: absolute;
  width: 400px;
  height: 500px;
  bottom: -10%;
  left: 5%;
  background: url(../images/riri.png) no-repeat center center;
  background-size: 100%;
  z-index: 1;
}

.bbhmm__bitch {
  position: absolute;
  width: 200px;
  height: 500px;
  top: -40px;
  right: 20%;
  background: url(../images/bitch.png) no-repeat center center;
  background-size: auto 100%;
  z-index: 1;
  animation: swing 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate;
  transform-origin: 50% -20px;
}

@keyframes swing {
  0% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(15deg);
  }
}

h1,
h2 {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: left;
  font-weight: 500;
  font-size: 96px;
  max-width: 640px;
  width: 90%;
  z-index: 2;
  line-height: 90px;
}

h2 {
  margin-top: -6px;
  font-size: 40px;
  font-weight: 100;
}

.bbhmm__header {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bbhmm__header__titles {
  position: relative;
  z-index: 3;
}

.bbhmm__body {
  position: relative;
  margin: 0 auto;
  padding: 60px 0;
  width: 92%;
  color: #fff;
  text-align: center;
  z-index: 2;
}

.bbhmm__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-width: 590px;
}

.bbhmm__list__item,
.bbhmm__list__item input,
.bbhmm__list__item label {
  display: inline-block;
  width: 100%;
}

.bbhmm__list__item label {
  text-align: left;

  padding-left: 10px;
  color: #2c2c2c;
}

.bbhmm__list__item input {
  height: 56px;
  padding: 3px 10px 0;
  margin: 10px 0 30px;
  color: #1c1c1c;
  border: 0;
  border-bottom: 1px solid #fff;
  border-radius: 6px 6px 0 0;
  background: rgba(255,255,255,0.3);
  font-size: 30px;
  font-weight: 300;
  font-family: 'Raleway', cursive;
  outline: 0;
}

.bbhmm__list__item input:focus {
  background: rgba(255,255,255,0.4);
}

.bbhmm__venmo {
  display: inline-block;
  width: 200px;
  padding: 18px;
  margin-top: 15px;
  background: #0094d1;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.bbhmm__venmo--disabled {
  background: #666;
  cursor: default;
  pointer-events: none;
}

@media screen and (max-width: 560px) {
    h1, h2 {
      font-size: 70px;
      line-height: 72px;
    }

    h2 {
      font-size: 30px;
      font-weight: 200;
    }

    .bbhmm__header {
      height: 80vh;
    }

    .bbhmm__scroll {
      bottom: 0;
    }
}
